.drop-zone {
    border: 1px dashed var(--e-global-color-secondar);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
    transition: all 300ms linear;

    p {
        margin: 0px;
    }
}

.drop-zone.dragging {
    border-color: var(--e-global-color-accent);
}

.markdown-preview {
    margin-top: 20px;
    padding: 10px;
    background: var(--secondaryColorsColor_1);
    white-space: pre-wrap;
    border-radius: 3px;

    pre {
        color: var(--neutralColors_500);
        font-family: inherit !important;
        font-size: 100%;
    }
}

.underline {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}